mc_servers/superflat/*.json

mc_servers/*/world/data/villages.dat
mc_servers/*/world/data/villages_end.dat
mc_servers/*/world/data/villages_nether.dat

mc_servers/*/logs/
mc_servers/*/world/playerdata/
mc_servers/*/world/region/
mc_servers/*/world/stats/
